*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/vcs.xmlC:\Users\55899\Documents\GitHub\Trabalho_final_android\app\src\main\java\com\example\trabalhofinal\BancoControle.java
